.navbar-brand img {
  max-width: 50px;
  filter: invert(100%);
}

.navbar-brand:hover {
  color: var(--accent);
}

.navbar-brand:hover img {
  filter: invert(65%) sepia(47%) saturate(2700%) hue-rotate(342deg) brightness(105%) contrast(101%);
}